<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPENSE TRACKER</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container flex register-container">
      <div class="tracker-page flex ">
        <div class="text">
          <h1>Welcome to your Expense Tracker</h1>
          <p>... a click away from your expenditure</p>
          
        </div>
        <form method="post" action="register">
          <input type="text" placeholder="First Name" name="first_name" required>
          <input type="text" placeholder="Last Name " name="last_name" required>
          <input type="password" placeholder="Password" name="password">
          <input type="password" placeholder="Confirm Password" name="confirm_password" >
          <input type="email" placeholder="Email Address" name="email_address" required>
          <div class="link">
            <button type="submit" class="login">Register</button>
          </div> 
        
          <div class="button">
            <span style="color: #8a0b55 ; font-size: 0.999rem;">Already have an account?</span><br><br>
            <a href="./login.html">Log In</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
</body>
</html>